.link {
  display: inline-block;
  text-decoration: none;
  padding: 25px;
  font-weight: 500;
  color: white;
  font-size: 20px;
  font-weight: 500;
}

.activeLink {
  composes: link;
  color: #f7de03;
}

.nav {
  display: flex;
  align-items: center;
  min-height: 80px;
  padding: 0 40px;
  /* background-color: #34495e; */
  box-shadow: #2196f3;
  animation: nav 0.6s ease-out both;
}

@-webkit-keyframes nav {
  0% {
    -webkit-transform: translateX(800px) rotate(540deg);
    transform: translateX(800px) rotate(540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
@keyframes nav {
  0% {
    -webkit-transform: translateX(800px) rotate(540deg);
    transform: translateX(800px) rotate(540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
